html,
body {
    height: 100%;
    background-image: url("../zombie/background/bg.jpg");
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.footer {
    height: 60px;
    color: #9d9d9d;
    background-color: #222;
    border-top: 1px solid #444;
    padding-top: 15px;
}

.quest-block-left {
    height: calc(100vh - 60px);
    padding: 10px 10px 10px 10px;

    color: #2c4359;
    font-family: 'Trebuchet MS', 'Droid Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
}
.quest-block-rigth {
    height: calc(100vh - 60px);
    padding: 10px 10px 10px 10px;

    color: #2c4359;
    font-family: 'Trebuchet MS', 'Droid Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
}

.quest-border {
    border-width: 18px;
    border-style: solid;
    border-color: inherit;
    /*border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAABlBMVEUAAACzs7P//+bLAAAAAXRSTlMAQObYZgAAAGpJREFUGNO90LERgCAQRNHvEJhRAYVQjiXQgZR2dEIJdnB6zsg5RpoIwQtvd9HzyfD1n1S7GVQ3c4ZsRkhmgmhmmM0CoR52mERoAnRBK7C6zVx+0+8LoCOf57X8Vx/v531Dpdz34NOKz/13FrKVvL8EnkUAAAAASUVORK5CYII=) 18 round;*/
    border-image: url("../zombie/background/border.png") 45% round;
}

.quest-block-left .quest-block-text {
    height: 100%;
    background-color: #f9f7f0;
    padding: 20px;

    top: 36px;
    bottom: 36px;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.quest-block-rigth .quest-block-image {
    height: 50%;
    background-color: #f9f7f0;
    margin-bottom: 10px;
    position: relative;
}
.quest-block-rigth .quest-block-image .quest-block-image-background {
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-position: center 30%;
    background-size: cover;
}

.quest-block-rigth .quest-block-info {
    height: calc(50% - 10px);
    background-color: #f9f7f0;
    padding: 10px;
}

.quest-choice-action {
    margin-left: 1.75em;
}
.quest-choice-action a {
    display: block;
    margin: 0.5em;
}

.quest-select-text {
    color: #2b669a;
    font-weight: bold;
}

.right-bottom-text {
    position: absolute;
    right: 40px;
    bottom: 30px;
}

.block-loader {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: rgba(0,0,0, 0.3);
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 40%;
    left: 40%;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #2b669a;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
